
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1170px;
}
 nav{
    background-color:#02918c;
}
 section.banner{
    background-image:url(../image/banner.jpg);
    height: 728px;
   
    background-size: cover;
    opacity: 0.70;
   
}

#banner-design{
   text-align: center;
  
   padding-top: 217px;
   padding-bottom: 217px;
   
}
   
.banner .container img{
    display: block;
    margin: auto;
 }
 .banner .container a{
    display: block;
 }
