*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
nav{
    background-color: blue;
}

.container{
  
    
    width: 1170px;
    margin: auto;
}
 



.row{
   
    display: flex;
    flex-wrap: wrap;
    
   
}

   
   

 nav div.logo{
   width: 15%;
    background-color: azure;

}
 nav div.menu{
    width: 85%;
    height: auto;
    
    background-color: brown;
    align-items: center;
}
ul{
    list-style-type: none;
}
    
a{
    text-decoration: none;
    display: inline-block;
}
nav ul{
    justify-content: flex-end;
} 
nav ul li a{
    color: black;
    padding: 25px;
    text-transform: uppercase;
   
    
   
    

}
div.logo img{
    padding: 25px;;

}

