*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
.container{
    background-color: blue;

}
.row{
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
   
}
 nav div.logo{
   width: 15%;
    background-color: azure;
}
 nav div.menu{
    width: 75%;
    height: auto;
    justify-content: flex-end;
    background-color: brown;
    align-items: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
nav ul li a{
    color: black;
    padding: 25px;
    text-transform: uppercase;
    top:25%;
    bottom: 25%;

    

}
div.logo img{
    padding: 25px;;

}
